<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include header.html %}
      {% if page.layout == 'page' or page.layout == 'post' %}
      <div class="onak-ribbon"></div>
      {% endif %}
      {{ content }}

    </div>

    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script src="https://use.fontawesome.com/c006e30bdd.js"></script>

  </body>

</html>
