---
layout: default
---

<main class="onak-main mdl-layout__content onak-post">
    <div class="onak-container mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="onak-content mdl-color--white mdl-shadow--4dp content mdl-cell mdl-cell--8-col">
            <h1 style="margin-bottom: 0; font-size: 34px;">{{page.title}}</h1>
            <p style="color: #999; font-style: italic;">by <a target="_blank" href="https://twitter.com/fooburr">@fooburr</a> on {{ page.date | date: "%b %-d, %Y" }}</p>
            {{ content }}
        </div>
    </div>
    {% include footer.html %}
</main>
